#toast {
  visibility: hidden;
  min-width: 140px;
  background: var(--toast-bg);
  color: var(--toast-color);
  text-align: center;
  padding: 10px 16px;
  border-radius: 6px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition:
    opacity 0.4s,
    visibility 0.4s;
  z-index: 9999;
}

#toast.show {
  visibility: visible;
  opacity: 1;
}
